/*
#formHolder, #resultsHolder {
	width: 45%;
	margin-left: 2em;
float: left;
}
 */
table {
	border: thin solid black;
}
table td, table th {
	border: thin inset #808080;
}
p {
	margin-top: .5em;
	margin-bottom: 1.3em;
}
fieldset {
	display:inline;
	padding: 0.5em 1.3em;
	margin: 0.75em 0;
}
fieldset {
	display:inline;
	padding: 0.3em 1.3em;
	margin: 0.75em 0;
}
fieldset label {
	display: inline-block;
	padding: 0.3em 0.3em;
}
footer {
	margin-top: 1.3em;
	padding-top: 0.75em;
	border-top: #808080 thin solid;
	font-size: 80%;
}

.tables-responsive {
	max-width: 95%;
	overflow-x: scroll;
	margin: 0;
	padding: 0.25em 1% .2em;
  	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.tables-responsive::-webkit-scrollbar {
	display: none;
}

.tables-responsive2 {
	max-width: 95%;
	overflow-x: scroll;
	margin: 0;
	padding: 0.25em 1% .2em;
  	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.tables-responsive2::-webkit-scrollbar {
	display: none;
}
.invisibleStuff {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	margin: 0;
}

.error span, .error p {
	border: 2px solid #AA0000;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #AA0000;
	font-weight: bold;
}
.warning span, .warning p {
	border: 2px solid #FF9900;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #C05300;
	font-weight: bold;
}


